<div class="content">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= @player.name %>'s current game</th>
      </tr>
    </thead>

    <tr>
      <td><strong>Mode:</strong></td>
      <td><%= @game.mode %></td>
    </tr>

    <tr>
      <td><strong>Start time:</strong></td>
      <td><%= @game.start_time %></td>
    </tr>

    <tr>
      <th>Team 1</th>
      <th>Team 2</th>
    </tr>
    <tr>
      <td><%= link_to @game.participants[0].player.name,  @game.participants[0].player %></td>
      <td><%= link_to @game.participants[5].player.name,  @game.participants[5].player %></td>
    </tr>
    <tr>
      <td><%= link_to @game.participants[1].player.name,  @game.participants[1].player %></td>
      <td><%= link_to @game.participants[6].player.name,  @game.participants[6].player %></td>
    </tr>
    <tr>
      <td><%= link_to @game.participants[2].player.name,  @game.participants[2].player %></td>
      <td><%= link_to @game.participants[7].player.name,  @game.participants[7].player %></td>
    <tr>
      <td><%= link_to @game.participants[3].player.name,  @game.participants[3].player %></td>
      <td><%= link_to @game.participants[8].player.name,  @game.participants[8].player %></td>
    </tr>
    <tr>
      <td><%= link_to @game.participants[4].player.name,  @game.participants[4].player %></td>
      <td><%= link_to @game.participants[9].player.name,  @game.participants[9].player %></td>
    </tr>
    <tr>
      <th>Winrate</th>
      <th></th>
    </tr>
    <tr>
      <td><%= @team1_winrate.round(2) %></td>
      <td><%= @team2_winrate.round(2) %></td>
    </tr>
    <tr class="prediction">
      <th>Team <%= @game.winner %> is likely to win with a chance of <%= @game.result.round(2) %>%</th>
      <th></th>
    </tr>
  </table>

  <div class="btn-group">
  <%= link_to 'Back', player_path, class: 'btn btn-primary btn-sm back' %>
  </div>
</div>