<%= form_for(banned_champion) do |f| %>
  <% if banned_champion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(banned_champion.errors.count, "error") %> prohibited this banned_champion from being saved:</h2>

      <ul>
      <% banned_champion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :champion_id %>
    <%= f.number_field :champion_id %>
  </div>

  <div class="field">
    <%= f.label :team_id %>
    <%= f.number_field :team_id %>
  </div>

  <div class="field">
    <%= f.label :pick_turn %>
    <%= f.number_field :pick_turn %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
