<%= form_for(player) do |f| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <form>
    <div class="form-group">
      <label>Summoner's name</label>
      <%= f.text_field :name, class: 'form-control', placeholder: "Summoner's name" %>
    </div>

    <div class="form-group">
     <label>Region</label>
     <br>
      <%= f.select(:region, options_for_select(Player::REGIONS)) %>
    </div>

    <div class="form-group actions">
      <%= f.submit(class: 'btn btn-primary btn') %>
    </div>
  </form>
<% end %>