.players-show-header
  %h1
    = @player.name
    's statistics
  = link_to 'Live game', game_path(@player), class: 'btn btn-info btn-lg live-game'
%table.table.table-striped.players-show
  %tr
    %td
      %strong Name:
    %td= @player.name
  %tr
    %td
      %strong Region:
    %td= @player.region
  %tr
    %td
      %strong Win Rate:
    %td
      = (@player.winrate * 100).round(2)
      \%
  %tr
    %td
      %strong Recent KDA:
    %td= @player.kda.round(2)
  %tr
    %td
      %strong Kills:
    %td= @player.kills
  %tr
    %td
      %strong Deaths:
    %td= @player.deaths
  %tr
    %td
      %strong Assists:
    %td= @player.assists
  %tr
    %td
      %strong Skill points:
    %td= @player.skill_points
= link_to "Update", update_player_path(@player), class: "btn btn-primary btn-sm"
= link_to 'Back', root_path, class: 'btn btn-primary btn-sm back'
= link_to 'Destroy', @player, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'
= image_tag "bg-default.jpg"
