<table class="table table-striped players-show">
  <thead>
    <tr>
      <th><%= @player.name %>'s statistics</th>
      <th><%= link_to 'Live game', game_path(@player) %><button type="button" class="btn btn-info" disabled="disabled">Live game</button></th>
    </tr>
  </thead>

  <tr>
    <td><strong>Name:</strong></td>
    <td><%= @player.name %></td>
  </tr>

  <tr>
    <td><strong>Region:</strong></td>
    <td><%= @player.region %></td>
  </tr>

  <tr>
    <td><strong>Win Rate:</strong></td>
    <td><%= @player.winrate.round(2) %></td>
  </tr>

  <tr>
    <td><strong>Recent KDA:</strong></td>
    <td><%= @player.kda.round(2) %></td>
  <tr>
    <td><strong>Kills:</strong></td>
    <td><%= @player.kills %></td>
  </tr>
  <tr>
    <td><strong>Deaths:</strong></td>
    <td><%= @player.deaths %></td>
  </tr>
  <tr>
    <td><strong>Assists:</strong></td>
    <td><%= @player.assists %></td>
  </tr>
</table>

<%= link_to "Update", :controller => :players, :action => :update, :type => '1', :html => { :class => "btn" } %> |
<%= link_to 'Back', root_path %> |
<%= link_to 'Destroy', @player, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= button_to('Update statistics', :action => :update,:class => 'btn btn-info')  %>
