<div class='players-show-header'>
  <h1><%= @player.name %>'s statistics</h1>
  <%= link_to 'Live game', game_path(@player), class: 'btn btn-info btn-lg live-game' %>
</div>

<table class="table table-striped players-show">
  <tr>
    <td><strong>Name:</strong></td>
    <td><%= @player.name %></td>
  </tr>

  <tr>
    <td><strong>Region:</strong></td>
    <td><%= @player.region %></td>
  </tr>

  <tr>
    <td><strong>Win Rate:</strong></td>
    <td><%= (@player.winrate * 100).round(2) %>%</td>
  </tr>

  <tr>
    <td><strong>Recent KDA:</strong></td>
    <td><%= @player.kda.round(2) %></td>
  <tr>
    <td><strong>Kills:</strong></td>
    <td><%= @player.kills %></td>
  </tr>
  <tr>
    <td><strong>Deaths:</strong></td>
    <td><%= @player.deaths %></td>
  </tr>
  <tr>
    <td><strong>Assists:</strong></td>
    <td><%= @player.assists %></td>
  </tr>
  <tr>
    <td><strong>Skill points:</strong></td>
    <td><%= @player.skill_points %></td>
  </tr>
</table>

<%= link_to "Update", update_player_path(@player), class: "btn btn-primary btn-sm" %>
<%= link_to 'Back', root_path, class: 'btn btn-primary btn-sm back' %>
<%= link_to 'Destroy', @player, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
